# Application
NODE_ENV=development
PORT=3000

# PostgreSQL
DATABASE_URL="postgresql://postgres:password@localhost:5432/event_ingestion?schema=public"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Queue
QUEUE_NAME=event-processing
